In [1]:
import pandas as pd
import datetime
from sqlalchemy import create_engine
import time
from IPython.core.display import clear_output
import regex as re
import numpy as np
from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
SQL_PASSWORD = os.environ.get('SQL_PASSWORD')
SQL_DB = os.environ.get('SQL_DATABASE')
engine = create_engine('mysql+mysqlconnector://root:{password}@localhost:3306/{database}'.format(
    password = SQL_PASSWORD,
    database=SQL_DB
))
connection = engine.connect()

In [250]:
sql_artist_fix = """
    SET SQL_SAFE_UPDATES=0;


    
    UPDATE spotify_albums_raw
        LEFT JOIN
            artists_raw
            ON
                spotify_albums_raw.Album_Artist_ID = artists_raw.index
    SET spotify_albums_raw.Album_Artist_ID = (
        SELECT
            artists_raw.index
        FROM
            artists_raw
        WHERE
            artists_raw.Name = 'Fela Kuti'
    )
    WHERE
        artists_raw.Name REGEXP '^Fẹla|^Fela';



    UPDATE spotify_tracks_raw
        LEFT JOIN
            artists_raw
            ON
                spotify_tracks_raw.Artist_ID = artists_raw.index
    SET spotify_tracks_raw.Artist_ID = (
        SELECT
            artists_raw.index
        FROM
            artists_raw
        WHERE
            artists_raw.Name = 'Fela Kuti'
    )
    WHERE
        artists_raw.Name REGEXP '^Fẹla|^Fela';

    

    UPDATE spotify_tracks_raw
        INNER JOIN
            spotify_albums_raw
            ON
                spotify_tracks_raw.Album_ID = spotify_albums_raw.index
        INNER JOIN
            artists_raw
            ON
                spotify_albums_raw.Album_Artist_ID = artists_raw.index
    SET spotify_tracks_raw.Artist_ID = (
        SELECT
            artists_raw.index
        FROM
            artists_raw
        WHERE
            artists_raw.Name = 'Sun Ra'
    )
    WHERE
        artists_raw.Name REGEXP '^Sun Ra';


    UPDATE spotify_tracks_raw
        INNER JOIN
            spotify_albums_raw
            ON
                spotify_tracks_raw.Album_ID = spotify_albums_raw.index
        INNER JOIN
            artists_raw
            ON
                spotify_albums_raw.Album_Artist_ID = artists_raw.index
    SET spotify_tracks_raw.Artist_ID = (
        SELECT
            artists_raw.index
        FROM
            artists_raw
        WHERE
            artists_raw.Name = 'Various Artists'
    )
    WHERE
        artists_raw.Name REGEXP 'Various Artists';


    UPDATE spotify_tracks_raw
        INNER JOIN
            spotify_albums_raw
            ON
                spotify_tracks_raw.Album_ID = spotify_albums_raw.index
        INNER JOIN
            artists_raw
            ON
                spotify_albums_raw.Album_Artist_ID = artists_raw.index
    SET spotify_tracks_raw.Artist_ID = (
        SELECT
            artists_raw.index
        FROM
            artists_raw
        WHERE
            artists_raw.Name = 'Flume'
    )
    WHERE
        artists_raw.Name REGEXP 'Flume';


    UPDATE spotify_tracks_raw
        INNER JOIN
                spotify_albums_raw
                ON
                    spotify_tracks_raw.Album_ID = spotify_albums_raw.index
        INNER JOIN
            artists_raw
            ON
                spotify_albums_raw.Album_Artist_ID = artists_raw.index
    SET
        spotify_albums_raw.Album_Artist_ID = (
            SELECT
                artists_raw.index
            FROM
                artists_raw
            WHERE
                artists_raw.Name = 'Nick Cave & The Bad Seeds'
        ),
        spotify_tracks_raw.Artist_ID = spotify_albums_raw.Album_Artist_ID
    WHERE
        artists_raw.Name REGEXP '^Nick Cave';



    SET SQL_SAFE_UPDATES=1
    """

for query in sql_artist_fix.split(";"):
    try:
        connection.execute(query)
    except:
        print("SQL error with statement:\n {}".format(query))
        break

In [251]:
tracks_df = pd.read_sql_query("""
    SELECT
        *
    FROM
        spotify_tracks_raw
    WHERE
        spotify_tracks_raw.index >
        (SELECT
            MAX(tracks.index)
        FROM
            tracks);
    """,
    con=connection)

artists_df = pd.read_sql_query("""
    SELECT
        *
    FROM
        artists_raw
    WHERE
        artists_raw.index >
        (SELECT
            MAX(artists.index)
        FROM
            artists);
    """,
    con=connection)

albums_df = pd.read_sql_query("""
    SELECT
        *
    FROM
        spotify_albums_raw
    WHERE
        spotify_albums_raw.index >
        (SELECT
            MAX(albums.index)
        FROM
            albums);
    """,
    con=connection)

scrobbles_df = pd.read_sql_query("""
    SELECT
        *
    FROM
        scrobbles_raw
    WHERE
        scrobbles_raw.timestamp >
        (SELECT
            MAX(scrobbles.timestamp)
        FROM
            scrobbles);
    """,
    con=connection)

In [256]:
def fix_album_names(column:list, split:bool=False)->list:
    fix_dict_spotify = {
        '98.12.28 男達の別れ (Live)':'98.12.28 Otokotachi no Wakare',
        'Lift Your Skinny Fists Like Antennas to Heaven':'Lift Yr. Skinny Fists Like Antennas to Heaven!',
        'The Glow, Pt. 2':'The Glow Pt. 2',
        'The Velvet Underground & Nico 45th Anniversary':'The Velvet Underground & Nico',
        'Slow Riot for New Zero Kanada':'Slow Riot for New Zerø Kanada',
        'World Psychedelic Classics 5: Who Is William Onyeabor?':'Who Is William Onyeabor?',
        'Everything is Possible World Psychedelic Classics 1':'Everything is Possible!',
        '宇宙 日本 世田谷':'Uchū Nippon Setagaya',
        "Don’t Say That":"Don't Say That",
        'Flume: Deluxe Edition (Spotify Exclusive)':'Flume (Deluxe Edition)',
        'Paebiru':'Paêbirú',
        'NO ONE EVER REALLY DIES':'NO_ONE EVER REALLY DIES',
        'Power Corruption and Lies':'Power, Corruption & Lies',
        'Operation: Doomsday (Complete)':'Operation: Doomsday',
        'awaken, my love':'"Awaken, My Love!"',
        'Awaken, My Love':'"Awaken, My Love!"',
        "Talking Heads '77 (Deluxe Version)":'Talking Heads: 77',
        "Legacy (The Very Best Of David Bowie, Deluxe)":"Legacy (The Very Best Of David Bowie)",
        "channel ORANGE (Explicit Version)":"channel ORANGE",
        "Man On The Moon: The End Of Day (Int'l Version)":"Man On The Moon: The End Of Day",
        "Live At Sin-é (Legacy Edition)":"Live At Sin-é"
    }

    fix_dict_itunes = {
        'blond':'Blonde',
        'Plantasia':"Mother Earth's Plantasia",
        'Twin Fantasy':'Twin Fantasy (Mirror To Mirror)',
        'Twin Fantasy (2018 Reissue)':'Twin Fantasy',
        '(after)':'After (Live)',
        'Islands (Part 1)':'Islands part 1',
        'Paper Mache Dream Balloon':'Paper Mâché Dream Balloon',
        'Mm.. Food':'MM...FOOD',
        'Operation Doomsday':'Operation: Doomsday',
        'Minecraft: Volume Alpha':'Minecraft - Volume Alpha',
        'The Recordings Of The Middle East':'Recordings Of The Middle East',
        'Lockjaw - EP':'Lockjaw',
        "Songs From the South: Paul Kelly's Greatest Hits":"Songs From The South: Paul Kelly's Greatest Hits 1985-2019",
        'Recurring Dream':'The Very Very Best Of Crowded House',
        'Lift Yr Skinny Fists Like Antennas To Heaven!':'Lift Yr. Skinny Fists Like Antennas to Heaven!'
    }
    if split==True:
        col_name = column.columns[0]
        split_name = column.columns[1]
        column_segment_1 = column.loc[column[split_name]<datetime.datetime(2020, 1, 14), col_name]
        column_segment_2 = column.loc[column[split_name]>=datetime.datetime(2020, 1, 14), col_name]
        for key, val in fix_dict_itunes.items():
            column_segment_1 = column_segment_1.str.replace('^'+re.escape(key)+'$', val, regex=True, flags=re.IGNORECASE)
        for key, val in fix_dict_spotify.items():
            column_segment_2 = column_segment_2.str.replace('^'+re.escape(key)+'$', val, regex=True, flags=re.IGNORECASE)
        column = column_segment_1.append(column_segment_2)
    else:
        for key, val in fix_dict_spotify.items():
            column = column.str.replace('^'+re.escape(key)+'$', val, regex=True, flags=re.IGNORECASE)
    return column

In [257]:
def fix_remasters(column):
    words = ['[R|r]emaster','[D|d]eluxe', '[E|e]xpanded', '[A|a]nniversary', '[V|v]ersion', '[E|e]dition', '[E|e]xtended','[D|d]igital','[I|i]nstrumental']
    for word in words:
        column = column.str.split(r'(?= [\(\[]{0,1}[\d]{0,4}(th){0,1}\s{0,1}'+word+r')', expand=True).iloc[:,0]
        # column = column.apply(lambda x: ', '.join(re.split(r'(?= [\(\[]{0,1}[\d]{0,4}(th){0,1}\s{0,1}'+word+r')', x, flags=re.IGNORECASE))).str.split(', ', expand=True).iloc[:,0]
    return column

In [258]:
def fix_remastered_songs(column):
    words = ['[R|r]emaster', '[L|l]ive', '[U|u]nfinished','[M|m]ono','[S|s]tereo','[D|d]igital', 'Instrumental','Single Version','Extended Version','1980 Version', 'LP Mix','Bonus Track']
    for word in words:
        column = column.str.split(r'(?= [\-\(\[]{1}[ ]{0,1}[\d]{0,4}(th){0,1}\s{0,1}'+word+r')', expand=True).iloc[:,0]
    return column

In [259]:
def fix_scrobbles(scrobbles_df):
    fix_artists = {
        'Fela Kuti':'^Fẹla|^Fela',
        'Nick Cave & The Bad Seeds': '^Nick Cave',
        'Sun Ra': '^Sun Ra',
        'Yusuf / Cat Stevens': 'Cat Stevens|Yusuf',
        'King Gizzard & The Lizard Wizard': '^King Gizzard',
        'Belle & Sebastian': 'Belle and Sebastian',
        'N.W.A.':'N.W.A',
        'Gil Scott-Heron':'^Gil Scott-Heron',
        'Freddie Gibbs':'^Freddie Gibbs',
        "N.E.R.D":"N\*E\*R\*D",
        'Lula Côrtes':'Lula Côrtes e Zé Ramalho',
        '２８１４':'2 8 1 4'
    }
    fix_album_artists = {
        'Flume':'Flume',
        'Sing Street (Original Motion Picture Soundtrack)': 'Various Artists',
        'Japanese Ambient, Environmental & New Age Music 1980-1990': 'Various Artists'
    }
    scrobbles_df.loc[scrobbles_df['album_name']=='untitled unmastered.','song_name'] = scrobbles_df.loc[scrobbles_df['album_name']=='untitled unmastered.','song_name'].str.replace(' l',' |')
    scrobbles_df['artist_name'] = scrobbles_df['artist_name'].str.split(r' [\-\[\()]{0,1}[F|f]eat[.]{0,1}', expand=True).iloc[:,0]
    scrobbles_df['song_name'] = scrobbles_df['song_name'].str.split(r' [\-\[\()]{0,1}[F|f]eat[.]{0,1}', expand=True).iloc[:,0]

    for key, val in fix_artists.items():
        scrobbles_df.loc[scrobbles_df['artist_name'].str.contains(val, flags=re.IGNORECASE, regex=True), 'artist_name'] = key
    for key, val in fix_album_artists.items():
        scrobbles_df.loc[scrobbles_df['album_name']==key, 'artist_name'] = val
        
    return scrobbles_df

In [260]:
def fix_song_names(df, col):
    fix_songs = {
        'Ecstacy':'Ecstasy',
        'Solar System':'II. Solar System',
        'IV. Mt. Eerie':'IV. Mount Eerie',
        'Things That Would Have Been Helpful To Know Before The Revolution':'Things It Would Have Been Helpful to Know Before the Revolution',
        'The Dead Flag Blues (Intro)': 'The Dead Flag Blues',
        'The King of Carrot Flowers Pt. One':'King of Carrot Flowers Pt. 1',
        'The King of Carrot Flowers Pts. Two & Three':'King of Carrot Flowers Pts. 2 & 3',
        'Two-Headed Boy Pt. Two': 'Two-Headed Boy Pt. 2',
        'Fire Engine On Fire Pt.i':'Fire Engine On Fire Part i',
        'Fire Engine On Fire Pt.ii':'Fire Engine On Fire Part ii',
        'Losing california for drusky':'Losing carolina; for drusky',
        'Happiness in on the outside':'Happiness is on the outside',
        'Beef Rap':'Beef Rapp',
        'Yoshimi Battles the Pink Robots (part 1)':'Yoshimi Battles the Pink Robots, Pt. 1',
        'Yoshimi Battles the Pink Robots (Part 2)':'Yoshimi Battles the Pink Robots, Pt. 2',
        'Approaching Pavonis Mons by Balloon (Utopia Planitia)':'Approaching Pavonis Mons by Balloon',
        '(Something) - 1': 'Deep',
        'Instrumental (2)':'Instrumental - 2',
        'Toothbrush/Trash':'Toothbrush / Trash',
        'Feeler - Michael Brauer Mix':'Feeler',
        'Fall Your Way - Eric Sarafin Mix':'Fall Your Way',
        "Wooly Mammoth's Mighty Absence":"Woolly Mammoth's Mighty Absence",
        'Yeah (Crass Version)':'Yeah',
        'Yeah (Pretentious Version)':'Yeah - Pretentious Mix',
        'Speak To Me/Breathe [Breathe In The Air]':'Breathe (In the Air)',
        'Body is a Blade':'The Body is a Blade',
        'Baby²':'Baby',
        'Slowmo':'Slomo',
        'Normalization':'Normalisation',
        'Mellow Mood for Maidenhair':'A Mellow Mood for Maidenhair',
        'Like Antennas To Heaven…':'Antennas To Heaven',
        'Mr. Follow Follow':'Mister Follow Follow',
        'Leon Take Us Outside':'Leon Takes Us Outside',
        'Day N Night (Nightmare)':'Day N Nite (Nightmare)',
        'Up Up And Away':'Up Up & Away',
        'Enter Galactic (Love Connection Part 1)':'Enter Galactic (Love Connection Part I)',
        'The Queen Is Dead (Take Me Back to Dear Old Blighty) [Medley]':'The Queen Is Dead',
        'The Black Hawk War':'The Black Hawk War, Or, How to Demolish an Entire Civilization and Still Feel Good About Yourself In the Morning, Or, We Apologize for the Inconvenience But You''re Going to Have to Leave Now, Or...',
        'Riffs and Variations on a Single Note':'A conjunction of drones simulating the way in which Sufjan Stevens has an existential crisis in the Great Godfrey Maze',
        'Changeling / Transmission 1':'Transmission 1',
        'Stem / Long Stem / Transmission 2':'Transmission 2',
        'What Does Your Soul Look Like (Part 1): Blue Sky Revisit / Transmission 3':'Transmission 3',
        'Napalm Brain / Scatter Brain':'Napalm Brain / Scatter Brain - Medley',
        "Bitch, Don't Kill My Vibe {Jay Z Remix}":"Bitch, Don't Kill My Vibe - Remix",
        'Swimming Pools (Drank) (extended version)':'Swimming Pools (Drank)',
        'What Does Your Soul Look Like (Part 4)':'What Does Your Soul Look Like - Pt. 4'
    }
    for key, val in fix_songs.items():
        df.loc[df[col].str.lower()==key.lower(), col] = val

    return df[col]

In [262]:
if len(albums_df)>0:
    albums_df['Album'] = fix_album_names(albums_df['Album'])
    albums_df['Album'] = fix_remasters(albums_df['Album'])

if len(tracks_df)>0:
    tracks_df['Name'] = fix_remastered_songs(tracks_df['Name'])
    tracks_df['Name'] = fix_song_names(tracks_df,'Name')
    tracks_df['Name'] = tracks_df['Name'].str.split(r' [\-\[\()]{0,1}[F|f]eat[.]{0,1}', expand=True).iloc[:,0]
    tracks_df['Name'] = tracks_df['Name'].str.split(r' [\-\[\()]{0,1}FEAT[.]{0,1}', expand=True).iloc[:,0]
    tracks_df["Name_join"] = tracks_df['Name'].str.replace('[^\w]','')

if len(scrobbles_df)>0:
    scrobbles_df['album_name'] = fix_album_names(scrobbles_df[['album_name','timestamp']], True)
    scrobbles_df['album_name'] = fix_remasters(scrobbles_df['album_name'])
    scrobbles_df['song_name'] = fix_remastered_songs(scrobbles_df['song_name'])
    scrobbles_df['song_name'] = fix_song_names(scrobbles_df,'song_name')
    scrobbles_df = fix_scrobbles(scrobbles_df)
scrobbles_df["song_name_join"] = scrobbles_df['song_name'].str.replace('[^\w]','')

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/mysql/connector/network.py", line 246, in recv_plain
    chunk = self.sock.recv(4 - packet_len)
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/ssl.py", line 1226, in recv
    return self.read(buflen)
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/ssl.py", line 1101, in read
    return self._sslobj.read(len)
ConnectionResetError: [Errno 54] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 697, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 893, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/dialects/mysql/base.py", line 2513, in do_rollback
    dbapi_connection.rollback()
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/mysql/connector/connection.py", line 1236, in rollback
    self._execute_query("ROLLBACK")
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/mysql/connector/connection.py", line 1248, in _execute_query
    self.cmd_query(query)
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/mysql/connector/connection.py", line 846, in cmd_query
    result = self._handle_result(self._send_cmd(ServerCmd.QUERY, query))
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/mysql/connector/connection.py", line 501, in _send_cmd
    return self._socket.recv()
  File "/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/mysql/connector/network.py", line 269, in recv_plain
    raise errors.OperationalError(
mysql.connector.errors.OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 54 Connection reset by peer
<ipython-input-262-2c740beb69e3>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  tracks_df["Name_join"] = tracks_df['Name'].str.replace('[^\w]','')
<ipython-input-262-2c740beb69e3>:18: FutureWarning: The default value of regex will change from True to False in a future version.
  scrobbles_df["song_name_join"] = scrobbles_df['song_name'].str.replace('[^\w]','')

In [264]:
scrobbles_df.to_sql('scrobbles_temp', con=connection, index=False, if_exists='replace')
albums_df.to_sql('albums', con=connection, index=False, if_exists='append')
artists_df.to_sql('artists', con=connection, index=False, if_exists='append')
tracks_df.to_sql('tracks', con=connection, index=False, if_exists='append')

In [265]:
# connection.execute(
#     """
#     ALTER TABLE `spotify`.`artists` 
#     CHANGE COLUMN `index` `index` BIGINT NOT NULL ,
#     CHANGE COLUMN `Name` `Name` TEXT NOT NULL ,
#     ADD PRIMARY KEY (`index`),
#     ADD UNIQUE INDEX `index_UNIQUE` (`index` ASC) VISIBLE;
#     ;
#     """
# )
# connection.execute(
#     """
#     ALTER TABLE `spotify`.`albums` 
#     CHANGE COLUMN `index` `index` BIGINT NOT NULL ,
#     CHANGE COLUMN `Album` `Album` TEXT NOT NULL ,
#     CHANGE COLUMN `Album_Artist_ID` `Album_Artist_ID` BIGINT NOT NULL ,
#     CHANGE COLUMN `Release_Date` `Release_Date` DATETIME NOT NULL ,
#     CHANGE COLUMN `Year` `Year` BIGINT NOT NULL ,
#     CHANGE COLUMN `No._Tracks` `No._Tracks` BIGINT NOT NULL ,
#     CHANGE COLUMN `Label` `Label` TEXT NOT NULL ,
#     CHANGE COLUMN `Popularity` `Popularity` BIGINT NOT NULL ,
#     CHANGE COLUMN `Spotify_ID` `Spotify_ID` TEXT NOT NULL ,
#     CHANGE COLUMN `Album_Art` `Album_Art` TEXT NOT NULL ,
#     CHANGE COLUMN `Date_Added` `Date_Added` DATETIME NOT NULL ,
#     ADD PRIMARY KEY (`index`),
#     ADD UNIQUE INDEX `index_UNIQUE` (`index` ASC) VISIBLE;
#     ;
#     """
# )
# connection.execute(
#     """ALTER TABLE `spotify`.`tracks` 
#     CHANGE COLUMN `index` `index` BIGINT NOT NULL ,
#     CHANGE COLUMN `Name` `Name` TEXT NOT NULL ,
#     CHANGE COLUMN `Artist_ID` `Artist_ID` BIGINT NOT NULL ,
#     CHANGE COLUMN `Time` `Time` DOUBLE NOT NULL ,
#     CHANGE COLUMN `Explicit` `Explicit` TINYINT(1) NOT NULL ,
#     CHANGE COLUMN `Track_No.` `Track_No.` BIGINT NOT NULL ,
#     CHANGE COLUMN `Disc_No.` `Disc_No.` BIGINT NOT NULL ,
#     CHANGE COLUMN `Spotify_Song_ID` `Spotify_Song_ID` TEXT NOT NULL ,
#     CHANGE COLUMN `Album_ID` `Album_ID` BIGINT NOT NULL ,
#     ADD PRIMARY KEY (`index`),
#     ADD UNIQUE INDEX `index_UNIQUE` (`index` ASC) VISIBLE;
#     ;"""
# )

In [266]:
artist_ids = pd.read_sql_query(
    """
    SELECT
        artists.index
    FROM
        scrobbles_temp
    LEFT JOIN
        artists
        ON
            LOWER(scrobbles_temp.artist_name) = LOWER(artists.Name)
    """
    , con=connection
)

In [267]:
scrobbles_df['Artist_ID'] = artist_ids['index'].replace(np.nan, -1)
scrobbles_df['Artist_ID'] = scrobbles_df['Artist_ID'].astype(int)
scrobbles_df.drop('artist_name', axis=1, inplace=True)
scrobbles_df = scrobbles_df.loc[scrobbles_df['Artist_ID']>=0]
scrobbles_df.reset_index(drop=True, inplace=True)
scrobbles_df.to_sql('scrobbles_temp', con=connection, index=False, if_exists='replace')

In [268]:
album_ids = pd.read_sql_query(
    """
    SELECT
        albums.index
    FROM
        scrobbles_temp
    LEFT JOIN
        albums
        ON
            LOWER(scrobbles_temp.album_name) = LOWER(albums.Album)
            AND
            scrobbles_temp.Artist_ID = albums.Album_Artist_ID
    """
    , con=connection
)

In [269]:
scrobbles_df['Album_ID'] = album_ids['index'].replace(np.nan, -1)
scrobbles_df['Album_ID'] = scrobbles_df['Album_ID'].astype(int)
scrobbles_df.drop('album_name', axis=1, inplace=True)
scrobbles_df = scrobbles_df.loc[scrobbles_df['Album_ID']>=0]
scrobbles_df.reset_index(drop=True, inplace=True)
scrobbles_df.to_sql('scrobbles_temp', con=connection, index=False, if_exists='replace')

<ipython-input-269-a0cc52340de1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scrobbles_df['Album_ID'] = album_ids['index'].replace(np.nan, -1)
<ipython-input-269-a0cc52340de1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scrobbles_df['Album_ID'] = scrobbles_df['Album_ID'].astype(int)
/Users/sabastianbouma/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [270]:
track_ids = pd.read_sql_query(
    """
    SELECT
        timestamp, tracks.index, song_name
    FROM
        scrobbles_temp
    LEFT JOIN
        tracks
        ON
            SUBSTRING(LOWER(scrobbles_temp.song_name_join),1,35) = SUBSTRING(LOWER(tracks.Name_join),1,35)
            AND
            scrobbles_temp.Album_ID = tracks.Album_ID;
    """
    , con=connection
)

In [271]:
track_ids = track_ids.drop_duplicates(['timestamp', 'song_name'],keep= 'first')
track_ids.sort_values(by='timestamp', inplace=True)
track_ids.reset_index(drop=True, inplace=True)
scrobbles_df['Song_ID'] = track_ids['index'].replace(np.nan, -1)
scrobbles_df['Song_ID'] = scrobbles_df['Song_ID'].astype(int)

In [272]:
bad_df = scrobbles_df.loc[scrobbles_df['Song_ID']<0]
scrobbles_df = scrobbles_df.loc[scrobbles_df['Song_ID']>=0]

In [274]:
bad_df

,song_name,timestamp,song_name_join,Artist_ID,Album_ID,Song_ID
108,Obviously 5 Believers,2021-11-15 10:24:57,Obviously5Believers,80,120,-1

In [275]:
scrobbles_df.drop(['song_name_join','song_name'], axis=1, inplace=True)
scrobbles_df.to_sql('scrobbles', con=connection, index=False, if_exists='append')

In [111]:
bad_df.merge(albums_df, left_on='Album_ID', right_on='index')['Album'].value_counts()[:50]

Power, Corruption & Lies                                      77
Is This It                                                    32
Odessey and Oracle                                            31
The Name of This Band Is Talking Heads                        30
The Positions                                                 23
Since I Left You                                              19
Section.80                                                    18
Screamadelica                                                 18
F♯ A♯ ∞                                                       17
Rumours                                                       17
Paêbirú                                                       17
Die Lit                                                       16
Learn to Exist                                                16
Visions                                                       15
Wildflower                                                    14
A Laughing Death in Meatspace                                 14
My Beautiful Dark Twisted Fantasy                             14
Flume                                                         14
Float Along - Fill Your Lungs                                 13
american dream                                                13
The Soft Bulletin                                             13
Q: Are We Not Men? A: We Are Devo!                            13
My Head Is An Animal                                          12
Ladies and Gentlemen We Are Floating in Space                 12
Revolver                                                      12
I'm In Your Mind Fuzz                                         12
Straight Outta Compton                                        12
Songs From The South: Paul Kelly's Greatest Hits 1985-2019    11
Operation: Doomsday                                           10
Run The Jewels 2                                               9
In The Court Of The Crimson King                               9
Donuts                                                         8
Sing Street (Original Motion Picture Soundtrack)               8
At Folsom Prison                                               8
TA13OO                                                         7
+                                                              7
Music for 18 Musicians                                         7
Blonde On Blonde                                               6
Exmilitary                                                     6
Oddments                                                       6
"Awaken, My Love!"                                             6
808s & Heartbreak                                              6
Habit                                                          6
This Is All Yours                                              5
In the Silence                                                 5
InnerSpeaker                                                   5
Indigo Child                                                   5
Greatest Hits                                                  5
Back To Black                                                  5
Shahen-Shah (Real World Gold)                                  4
Name: Album, dtype: int64

In [31]:
output = pd.read_sql_query(
    """
    SELECT
        albums.Album as 'Album', COUNT(*) as 'Scrobbles'
    FROM
        scrobbles
    LEFT JOIN
        albums
        ON
        scrobbles.Album_ID = albums.index
    WHERE
        YEAR(scrobbles.timestamp)>2019
    GROUP BY
        albums.Album
    ORDER BY
        COUNT(*)
        DESC
    """
    , con=connection
)

In [32]:
output.head(10)

                                    Album  Scrobbles
0                    Stranger in the Alps        304
1                              Hunky Dory        293
2                                Punisher        290
3                            Pure Heroine        280
4                                Souvlaki        273
5                 We Will Always Love You        272
6                                Illinois        266
7  The Name of This Band Is Talking Heads        262
8                          Titanic Rising        260
9                         The Sunset Tree        247